<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<h2>Hey! What would you like to do ?</h2>

{% for message in messages %}
    <p>{{message}}</p>
{% endfor %}


<form action="login" method="POST">

    {% csrf_token %}

    <input type="text" name = uname placeholder="Enter your username" >
    <input type="password" name = "password" placeholder="Enter your password">

    <button type="submit">Signin</button>



</form>


<a href="{% url 'signup' %}">Not registered yet? Click here.</a>

</body>
</html>