<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
</head>
<body>

<form action="login" method="post">

    {% csrf_token %}



    <label for="uname">Username</label>
    <input type="text" id="uname" name="uname">

    <label for="password">Password</label>
    <input type="password" id="password" name="password">

    <button type="submit">Sign In</button>

    {% for message in messages %}

    <p>{{message}}</p>

    {% endfor %}


</form>

</body>
</html>